<div class="flex flex-col gap-1" [formGroup]="formElement">
  <app-input-select [formElement]="formElement.controls.projectId" label="forms.task.projectId" [options]="(projects$ | async) || []" />
  <app-input-text [formElement]="formElement.controls.name" label="forms.task.name" />
  <app-input-color [formElement]="formElement.controls.color" label="forms.task.color" />
  <app-input-number [formElement]="formElement.controls.priority" label="forms.task.priority" />
</div>

<div class="flex justify-end gap-2">
  <p-button variant="outlined" severity="secondary" [label]="'simple.cancel' | translate" icon="pi pi-times" (click)="dynamicDialogRef.close()" />
  <p-button [label]="'simple.save' | translate" icon="pi pi-save" (click)="submit()" [disabled]="formElement.disabled || !formElement.valid" />
</div>
